@using DotNetEFAutoLot.DAL.Models;
@model IEnumerable<Inventory>

@*
@using DotNetEFAutoLot.DAL.Models;
@helper ShowInventory(Inventory item)
{
    @item.Make<text>-</text>@item.Color<text>(</text>@item.PetName<text>)</text>
}

@foreach (var item in Model)
{
    @ShowInventory(item)
}
*@


@functions 
{
    public IList<Inventory> SortCars(IList<Inventory> cars)
    {
        var list = from s in cars orderby s.PetName select s;
        return list.ToList();
    }
}

@{
    Func<dynamic, object> b = @<strong>@item</strong>;
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in SortCars(Model.ToList()))
    {
        @Html.DisplayFor(modelItem => item, "InventoryList")
    }

</table>
